.search-container {
    padding: 20px 0;
    display: flex;
    gap: 10px;
}

.search-container input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(0, 91, 151);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.search-container button:hover {
    background-color: rgb(0, 70, 115);
}